.input {
  width: 100%;
  height: 46px;
  line-height: 46px;
  border: 1px solid rgba(#354352, 0.3);
  border-radius: 3px;
  padding-left: 16px;
  padding-right: 16px;

  color: #000;
  font-size: 14px;
  outline-color: #5382E7;

  &::placeholder {
    color: #2B3844;
    opacity: 0.3;
  }

  &__wrapper {
    width: 100%;
    margin-bottom: 24px;
    font-size: 12px;
  }

  &__label {
    margin-bottom: 8px;
    display: block;
  }

  &__error {
    padding-top: 2px;
    color: red;

    p {
      font-size: 12px;
      font-weight: inherit;
      text-align: left;
    }
  }

}