.menu {
  display: flex;
  flex-direction: column;
  width: 274px;
  height: 100vh;
  padding-top: 51px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1;

  &__header {
    margin-bottom: 85px;
    padding-right: 46px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  &__header_logo {
    width: 130px;
  }
  &__header_icon {
    width: 48px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #5382E7;
    border-radius: 3px;

  }

  &__nav {

    span {
      padding-left: 12px;
    }

  }

  &__nav_item {
    display: flex;
    align-items: center;
    padding: 18px 40px;

    text-decoration: none;
    color: rgba(#2B3844, 0.3);

    &__active {
      display: flex;
      align-items: center;
      padding: 18px 40px;

      background-color: rgba(#5382E7, 0.04);
      border-right: 2px solid;

      text-decoration: none;
      color: #5382E7;

      & * {
        transition:
        stroke 0.3s ease-in,
        opacity 0.3s ease-in;
      }

      transition:
              background-color 0.2s ease-in,
              color 0.3s ease-in,
              border-right 0.2s ease-in;

        & * {
          stroke: #5382E7;
          opacity: 1
        }
    }

  }

  &__logo_out {
    margin-top: auto;
    padding-bottom: 48px;
    display: flex;
    align-items: center;
    align-self: center;
    column-gap: 8px;
    width: 194px;
    padding-top: 50px;
    border-top: 1px solid #E8EBEF;

    text-decoration: none;
    color: rgba(#2B3844, 0.3);

    transition: color 0.3s ease-in;

    &:hover {
      color: #5382E7;
    }
  }
}
