.form {
  margin-bottom: 32px;

  @media (max-width: 599px) {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 25px;
  }

  &__wrapper {
    display: flex;
    column-gap: 16px;
  }

  &__btn {
    margin-top: 40px;
    width: 100%;
    padding-top: 19px;
    padding-bottom: 19px;
    background-color: #5382E7;
    border-radius: 3px;

    color: #fff;
    font-weight: 500;
    
    @media (max-width: 599px) {

    }

    &.add {
      margin-top: 32px;
      font-size: 14px;
      
      @media (max-width: 599px) {
        font-size: 12px;
      }
    }
  }

}